/* IndividualStoryScreen.css */
.individual-story-container {
  padding: 20px;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  overflow-y: auto; /* スクロールを有効化 */
}

.individual-story-content {
  width: 100%;
  padding: 15px;
  line-height: 1.8;
  margin: auto;
  font-size:larger;
}

.goals-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #000;
  border-left: 5px solid #4CAF50;
}

.goals-title {
  margin-top: 0;
  font-size: 1.3rem;
}

.goals-list {
  counter-reset: listnum;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
  white-space: pre-wrap;
}
.goals-list li::before {
  counter-increment: listnum;
  content: counter(listnum)". ";
}

.goal-item {
  margin-bottom: 8px;
}

.goals-list li > .goal-hint{
  margin-top: 4px;
}

.goal-hint {
  list-style: none;
  padding-left: 0;
}
.goal-hint li{
  position: relative;
  padding-left: 2.8em
}
.goal-hint li::before{
  content: "Hint!";
  counter-increment: item;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.6em;
  height: 1.6em;
  background-color:khaki;
  color: #333;
  border-radius: 0.4em; /* 角丸 */
  font-size: 0.9em;
  position: absolute;
  left: 0;
  top: 0.1em;
}
/* 地図のスタイル */
.map-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.map-image {
  width: 60%;
  display: block;
  margin: auto;
  height: auto; /* アスペクト比を維持 */
  border: 1px solid #ccc;
  border-radius: 4px;
  align-self: center;
}
