.waiting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */ /* 上下中央揃えを解除 */
  padding: 40px;
  text-align: center;
  margin: 0 auto; /* 上下マージン0、左右は自動で中央揃え */
  width: 100%;
  max-width: 600px; /* コンテナの最大幅を指定 */
}
.player-list {
  margin: 20px 0;
  min-width: 200px;
  text-align: left;
}

.leave-button {
  background-color: #f44336; /* 赤色 */
}

.leave-button:hover {
    background-color: #d32f2f;
}

.button-group-waiting {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}